:root{
    /*Current theme pallete*/
    --background : #1E1E2E;
    --primary-text : #EAEAEA;
    --secondary-text : #A0A0A0;
    --task-background : #2A2A3C;
    --completed-task : #3A3A4F;
    --accent-color : #16A085;
    --button-background : #2D2D44;
    --button-hover : #3E3E5C;

    /*Dark theme palette*/
    --dark-background : #1E1E2E;
    --dark-primary-text : #EAEAEA;
    --dark-secondary-text : #A0A0A0;
    --dark-task-background : #2A2A3C;
    --dark-completed-task : #3A3A4F;
    --dark-accent-color : #16A085;
    --dark-button-background : #2D2D44;
    --dark-button-hover : #3E3E5C;

    /*Light theme palette*/
    --light-background : #F8F9FA;
    --light-primary-text : #333333;
    --light-secondary-text : #666666;
    --light-task-background : #FFFFFF;
    --light-completed-task : #D9F7BE;
    --light-accent-color : #16A085;
    --light-button-background : #EAEAEA;
    --light-button-hover : #D6D6D6;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    background-color: var(--background);
}

/*nav section styles including dark-light-mode button and the name of app*/
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid;
    background-color: var(--task-background);
    color: var(--dark-primary-text);
}
/*name of app*/
nav h1{
    text-transform: uppercase;
    color: var(--primary-text);
}

/*dark-light-mode button section*/
#dark-theme-btn{
    display: none;
}
#dark-theme label{
    display: flex;
    align-items: center;
    padding: 0px 2px;
    width: 51px;
    height: 32px;
    border: 3px solid var(--accent-color);
    border-radius: 2rem;
    background: transparent;
    cursor: pointer;
}
#bullet{
    height: 22px;
    width: 22px;
    background-color: var(--accent-color);
    border-radius: 50%;
    transition: .3s ease transform;
}

/*----------------------------------------------*/

/*content section containing add-task and sorting functions  and tasks section*/

/*content section as a container for the task-control and tasks*/
#content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

/*task-controls section : a container for add-task and sorting sections  */
#task-controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: .4rem;
    width: 100%;
    max-width: 600px;
    background-color: var(--button-background);
    margin-bottom: 10px;
}

/*container for add-task inputs and add button  */
#add-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

/*task-name input section in adding task  */
#add-task input[type="text"]{
    background-color: var(--button-hover);
    color: var(--primary-text);
    border-radius: .4rem;
    font-size: 16px;
    border: none;
    margin: 10px;
    width: 100%;
    padding: 10px 20px;
}

/*task-reminder-date input section in adding task  */
#add-task input[type="datetime-local"]{
    background-color: var(--button-hover);
    color: var(--primary-text);
    border-radius: .4rem;
    font-size: 16px;
    border: none;
    margin: 10px;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

#add-task-button {
    background-color: var(--accent-color);
    color: var(--primary-text);
    border: none;
    border-radius: .4rem;
    padding: 10px 20px;
    width: 100%;
    margin: 10px;
    cursor: pointer;
    font-size: 15pt;
}

#add-task-button:hover {
    background-color: var(--button-hover);
}

#add-task input:focus, #add-task input[type="datetime-local"]:focus {
    outline: 1px solid var(--accent-color);
}

/*sorting section */
#sort{
    height: 30px;
    border: 1px solid var(--secondary-text);
    color: var(--primary-text);
    background-color: transparent;
    padding: 0px 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
#sort option{
    background-color: var(--button-background);
    color: var(--primary-text);
    cursor: pointer;
}


/*tasks section : a container for tasks*/
#tasks{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: .4rem;
    background-color: var(--button-background);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    overflow-y: auto;
}


/*task styling*/
#tasks li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 80px;
    background-color: var(--task-background);
    color: var(--primary-text);
    border-radius: .2rem;
    margin: 5px 0px;
    padding: 20px;
    cursor: move;

}

.task-name{
    width: 150px;
    text-transform: capitalize;
}

/*.task-icons : a container for task buttons (edit - delete - check )*/
.task-icons{
    display: flex;
    min-width: 90px;
    justify-content: space-between;
}

.edit-task-icon{
    fill: var(--accent-color);
    cursor: pointer;
}

.del-task-icon{
    fill: rgb(207, 1, 1);
    cursor: pointer;
}

.task_check{
    width: 22px;
    height: 22px;
    cursor: pointer;
    color: #1E1E2E;
    accent-color: var(--button-background);
}

.task_check:checked{
    accent-color: var(--accent-color);
}

/*a class for showing a task is checked*/
.checked{
    text-decoration: line-through var(--accent-color);
    text-decoration-thickness: 2px;
    background-color: var(--completed-task) !important;
}

/*a class for reordering tasks via drag and drop and showing it will place on which tasks before or after */
.placeholder{
    background-color: var(--accent-color) !important;
    opacity: 0.8;
}


/*inputs for edit section of the task*/

.task-on-edit{
    height: 200px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}
.edit-inputs-container{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.edit-task-input,
.edit-task-reminder {
    background-color: var(--button-hover);
    color: var(--primary-text);
    border-radius: .4rem;
    font-size: 16px;
    border: none;
    width: 100%; 
    padding: 10px 20px;
    box-sizing: border-box; 
    height: 30px; 
}

.edit-task-input:focus,
.edit-task-reminder:focus {
    outline: 1px solid var(--accent-color);
}

.task-reminder {
    margin-left: 20px;
    color: var(--secondary-text);
}


@media only screen and (max-width:600px){
    #tasks li{
        flex-direction: column;
    }
    .task-name{
        text-align: center;
    }
    .task-reminder{
        text-align: center;
        margin: 15px auto;
    }
}
